<div class="flex flex-col bg-white h-screen max-h-screen w-full relative dark:bg-slate-800">
  <div class="grow">
    <div class="flex flex-col mt-10 justify-center ">
      <img
        [ngSrc]="spotifyLogo"
        alt="Logo Spotify" class="h-[56px] mb-12"
        height="115" width="383"
      >
      <div class="flex flex-col gap-4 m-auto">
        <app-button-navigation
          text="Home"
          [ngClass]="selected === 'Home' ? 'btn-active' : ''"
          (click)="onNavMenuClicked('Home')"
        >
          <i class="ph-fill ph-house text-[22px]"></i>
        </app-button-navigation>
        <app-button-navigation
          text="Músicas Curtidas"
          [ngClass]="selected === 'Liked' ? 'btn-active' : ''"
          (click)="onNavMenuClicked('Liked')"
        >
          <i class="ph-fill ph-heart text-[22px]"></i>
        </app-button-navigation>
      </div>
    </div>

    <div class="flex flex-col justify-center mt-16 scrollbar-thin overflow-y-scroll">
      <span class="text-gray-500 text-xs font-normal ml-4">PLAYLIST</span>
      <div class="flex flex-col gap-3 m-auto mt-2 " style="max-height: calc(100vh - 456px)">
        @for (playlist of playlists; track $index) {
          <app-button-navigation
            [text]="playlist.name"
            [ngClass]="selected === playlist.id ? 'btn-active' : ''"
            (click)="onNavMenuClicked('Playlist', playlist.id)"
          >
            <i class="ph-fill ph-music-notes text-[22px]"></i>
          </app-button-navigation>
        }
      </div>
    </div>
  </div>

  <app-user-info class="grow-0"/>
</div>
