<div class="flex flex-col h-full w-full bg-white dark:bg-slate-900 pl-2 pr-2">
  <div class="flex items-center justify-evenly mt-10">
    <div class="menu-top" >
      <input type="text" autocomplete="off" placeholder="Pesquisar" id="input-search" >
      <button>
        <i class="ph-bold ph-magnifying-glass mr-2 text-zinc-400 cursor-pointer"></i>
      </button>
    </div>

    @if (theme === ThemeEnum.LIGHT) {
      <button class="theme-button text-gray-500" (click)="setTheme(ThemeEnum.DARK)">
        <i class="ph-fill ph-moon"></i>
      </button>
    } @else {
      <button class="theme-button text-slate-400" (click)="setTheme(ThemeEnum.LIGHT)">
        <i class="ph-fill ph-sun"></i>
      </button>
    }
  </div>

  <app-right-bar-top-artists />

  <app-mini-player />
</div>
