<div class="group card">
  <div
    class="art-image"
    [style.background-image]="'url(' + item.imageUrl + ')'"
  >
  </div>

  <div class="mt-3">
    <span class="text-sm font-medium block truncate dark:text-zinc-200">{{ item.name }}</span>
    <span class="text-xs truncate dark:text-zinc-200">{{ item.description }}</span>
  </div>

  @if (currentlySate().isPlaying && currentlySate().contextUri === item.uri) {
    <button class="playlist-interactive-btn" (click)="onCLickToPlay(undefined)">
      <i class="ph-fill ph-pause text-[32px]"></i>
    </button>
  } @else {
    <button class="playlist-interactive-btn" (click)="onCLickToPlay(item.uri)">
      <i class="ph-fill ph-play text-[32px]"></i>
    </button>
  }



</div>
