@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  @apply scrollbar-thumb-green-100 scrollbar-track-zinc-100
    scrollbar-thumb-rounded-full scrollbar-track-rounded-full
    hover:scrollbar-thumb-green-200
    active:scrollbar-thumb-green-300
}

html.dark {
  @apply scrollbar-thumb-green-950 scrollbar-track-zinc-900
  scrollbar-thumb-rounded-full scrollbar-track-rounded-full
  hover:scrollbar-thumb-green-800
  active:scrollbar-thumb-green-700
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -5px;
  @apply bg-slate-600 dark:bg-green-600 rounded-full h-[15px] w-[15px] border-none
}

input[type=range]::-webkit-slider-runnable-track {
  @apply bg-white border-none h-[5px] rounded-2xl dark:bg-slate-400
}

