<div
  class="w-full h-[275px] bg-no-repeat bg-cover bg-top flex items-end p-4 justify-between"
  [style.background-image]="'url(' + imageUrl + ')'"
>
  <div>
    <h2 class="text-[2.625rem] text-white font-bold "> {{ title }} </h2>
    <h3 class="text-base text-white font-bold">{{ description }}</h3>
  </div>

  <div class="flex gap-3 items-center ">
    <button class="text-[34px] flex items-center hover:scale-105 active:scale-95 transition duration-75 ease-in text-green-500"><i class="ph-fill ph-heart"></i></button>
    <button class="bg-green-500 rounded-full pt-2 pb-2 pr-5 pl-5 text-white font-bold hover:scale-105 active:scale-95 transition duration-75 ease-in">PLAY</button>
    <button class="bg-gray-400 rounded-full pt-2 pb-2 pr-5 pl-5 text-slate-50 font-bold hover:scale-105 active:scale-95 transition duration-75 ease-in">
      <i class="ph-fill ph-check-fat"></i>
      Seguir
    </button>
  </div>
</div>
